/* /////////////////////////
///////////////////////// */
/* HEADING */

h1 {
    text-align: center;
    background-color: white;
    color: black;
}

/* /////////////////////////
/////////////////////////
QUESTIONS */

#Questions {
    width: 70%;
    padding: 30px;
    border: 3px solid fuchsia;
    background-color: greenyellow;
    color: black;
    font-size: 28px;
    margin: 10px auto;
}

/* /////////////////////////
/////////////////////////
ANSWERS */

#Answers {
    width: 50%;
    margin: 10px auto;
    color: white;
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#Answers ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
}

#Answers ul li {
    width: 50%;
    height: 50px;
    background-color: black;
    padding: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}

/* /////////////////////////
/////////////////////////
SCOREBOARD */

#Scores {
    display: flex;
    width: 70%;
    background-color: darkslateblue;
    justify-content: center;
    margin: 10px auto;
}

#Player1 {
    width: 50%;
    background-color: orange;
    margin: 10px auto;
    text-align: center;
}

#Player2 {
    width: 50%;
    background-color: orange;
    margin: 10px auto;
    text-align: center;
}